<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>Gopher Tweets</title>
  <link rel="stylesheet" type="text/css"  href="../resources/css/view.css">
</head>
<body>
  <main>
    <header>Gopher Tweets</header>
    <div class="tweet_view">
      {{range .}}
        <form action="/tweet_delete/" method="DELETE">
          <p class="tweet_message">{{.Tweet}}
            <button type="submit" value={{.Id}} name="tweet_delete" class="tweet_delete_button">-</button>
          </p>
        </form>
      {{end}}
    </div>
    <form action="/tweet/" method="POST" class="tweet_form">
      <textarea name="tweet" rows="20" cols="80"></textarea>
      <input type="submit" value="speak">
    </form>
  </main>
</body>
</html>
