header{
	height:50px;
	line-height: 50px;
	border:1px solid lightgray;
	text-align: center;
	color: rgb(142, 168, 184);
	background-color: rgb(249, 252, 252);
	}
.tweet_view{
	float: left;
	height: 100vh;
	width: 50vw;
	background-color: rgb(235, 243, 243);
	padding-top: 20px;
}
.tweet_message{
	background-color: white;
	color: gray;
	font-size: 30px;
	margin: 0 20px 15px;
	padding: 10px;
	position: relative;
	border-radius: 15px;
}
button.tweet_delete_button{
	background-color: rgb(130, 168, 238);
	border-style: none;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 10px; 
	bottom: 17px;
	color: rgb(255, 255, 255);
	line-height: 5px;
	padding-right: 18px;
	cursor: pointer;
}
button:focus {
		outline:0;
}
.tweet_form{
	height: 100vh;
	width: 100vw;
}
textarea{
	background-color: rgb(235, 243, 243);
	width: 450px;
	height: 250px;
	margin: 50px 0 0 120px;
}
input{
	width: 200px;
	height: 50px;
	background-color: rgb(130, 168, 238);
	color: white;
	position: absolute;
	left: 68vw;
	top: 400px
}
